.grid-container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 40% 60%;
  grid-template-rows: 75% 25%;
  gap: 0px 0px;
  grid-template-areas:
    "about image"
    "about buton";
}

.about {
  grid-area: about;
}

.image {
  grid-area: image;
}
.image-1 {
  height: 100%;
  object-fit: contain;
}
.desc {
  font-size: 100%;
  width: 100%;
}
.buton {
  grid-area: buton;
}
